<!DOCTYPE html>
<html>
<head>
<style>
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: blue;
}
ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
</style>
</head>
<body>

<h1>Climatisation Console:
    Caractéristiques
    
        </h1>

<ul>
<li>Design et compacte, elle trouvera facilement sa place  </li>
  <li>Une grande performance </li>
  <li>Un faible niveau sonore </li>
  <li>Un système qui peut assurer également le chauffage, même par -15°C (et donc des économies sur votre facture de chauffage avec jusqu’à 75% d’énergie gratuite) </li>

</ul>

<a href='/clim/prix'>>> Consulter le prix selon votre besoin </a>


</body>
</html>
