<!DOCTYPE html>
<html>
<head>
<style>
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: blue;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
</style>
</head>
<body>

<h1>Climatisation Mobile:
    Caractéristiques
    
        </h1>

<ul>
<li>Facile d’installation </li>
<li>adaptable à toute pièce munie d’une extraction d’air </li>
<li>mobile et déplaçable</li>
<li>Pas cher et facile à se procurer </li>
<li>Très bruyant </li>
<li>Non réparable en cas de fuite </li>
<li>Solution bricolée </li>
<li>Energivores</li>

</ul>

<a href='/clim/prix'>>> Consulter le prix selon votre besoin </a>


</body>
</html>
