<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div id="choice" class="row">
  <div ><label class="radio">
    <input type="radio" id="myCheckbox1" (click)=navigate1()/>
    <img style="height: 200px;width: 200px;" class="column" src="https://st4.depositphotos.com/4177785/21845/v/1600/depositphotos_218453050-stock-illustration-underfloor-heating-element-color-icon.jpg" />Plancher chauffant </label>
</div>
<div class="column">
    <label class="radio">
        <input type="radio" id="myCheckbox1" (click)=navigate2()/>
        <img class="column" style="height: 200px;width: 200px;"src="https://s1.lmcdn.fr/multimedia/0d4197763/25e5552af2aaa/produits/radiateur-chauffage-central-vip-8-elements-blanc-l-64-cm-1144-w.jpg?$p=hi-w795" />
   Radiateur </label>
    </div>
</div>


</body>
</html>