<!DOCTYPE html>
<html>
<head>
<style>
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: blue;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}
</style>
</head>
<body>

<h1>Radiateur :

        Caractéristiques 
        </h1>

<ul>
<li>Il a une Longue durée de vie </li>
  <li>Il Présente un atout esthétique </li>
  <li>Il Propage lentement de la chaleur de façon homogène</li>
  <li>Il Continue de diffuser de la chaleur même en étant éteint</li>
  <li>Il nécessite Peu d’entretien</li>
  <li>Il Peut s’oxyder avec le temps </li>
  <li>Il Prend beaucoup de place</li>
</ul>
<a href='/chauf/rad/prix'>>> Consulter le prix selon votre besoin </a>

</body>
</html>
