<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div id="choice" class="row">
  <div ><label class="radio">
    <input type="radio" id="myCheckbox1" (click)=navigate1()/>
    <img class="column" src="https://www.gif-maniac.com/gifs/54/53871.gif" /> CHAUFFAGE</label>
</div>
<div class="column">
    <label class="radio">
        <input type="radio" id="myCheckbox1" (click)=navigate2()/>
        <img class="column" style="height: 200px;width: 200px;"src="http://darkpassenger.d.a.pic.centerblog.net/919430_200x130.gif" />
        CLIMATISATION</label>
    </div>
</div>


</body>
</html>