<!DOCTYPE html>
<html>
<head>
<style>
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  padding: 5px;
  margin-left: 35px;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: blue;
}
ul li {
  background: #cce5ff;
  margin: 5px;
}
</style>
</head>
<body>

<h1>Climatisation Plafonnier/Cassette:
    Caractéristiques 
    
        </h1>

<ul>
<li>Design et compacte, elle trouvera facilement sa place  </li>
  <li>peut climatiser de grands volumes</li>
  <li>Appareil discret et relativement silencieux par rapport à ses performances </li>
  <li>prix de son installation est peu élevé </li>
  <li>sa consommation énergétique est importante  </li>

  
</ul>

<a href='/clim/prix'>>> Consulter le prix selon votre besoin </a>


</body>
</html>
